// ------------------------------ Responsive Styles ---------------------------------- //
@media (max-width: 576px) {
    .body{
        display: inline-block;
        width: 100vw;
    }
    .text-field {
        -webkit-box-shadow: 0 0 0 #c7c7c7;
        -moz-box-shadow: 0 0 0 #c7c7c7;
        box-shadow: 0 0 0 #c7c7c7;
        border-bottom-right-radius: 0; 
        border-bottom-left-radius: 0;
    }
    .box{
        width: 100%; 
        height: auto;
        border-radius: 15px;
        -webkit-box-shadow: 0 10px 20px #c7c7c7;
        -moz-box-shadow: 0 10px 20px #c7c7c7;
        box-shadow: 0 10px 20px #c7c7c7;
        margin: 0px;
        margin-bottom: 20px;
    }
    .create-box-model h1{
        width: 100%; 
        margin: auto auto; 
        font-family: monospace; 
        font-size: 2.5vw; 
        color: rgb(119, 115, 115); 
        white-space: pre-line; 
        line-height: 20px; 
        user-select: all; 
        padding: 15px;
    }
    .create-box-model h2{
        color: black;
        padding-left: 15px;
        font-size: 3.5vw;
    }
    .edit-box-id ion-label{
        font-size: 3.5vw;
    }
    .edit-box-id ion-input{
        font-size: 2.5vw;
    }
    .text-field ion-label{
        font-size: 3.5vw;
    }
    .text-field ion-input{
        font-size: 3vw;
    }
}