@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';

@import url('https://fonts.googleapis.com/css?family=Roboto');

// ------------------------------ Body grid controller ---------------------------------- //
.body {
    display:flex;
}

// ------------------------------ Database Selector Styles ---------------------------------- //
.databases {
    width: 100%; 
    height: 80%; 
    background-color: white;
}
.databases-navbar {
    display: flex; 
    height: 25px; 
    background-color: white; 
    box-shadow: 0px -1px 0px lightgrey inset;
}
.databases-navbar div{
    margin: auto auto;
}
.databases-navbar-title {
    font-family: 'Roboto', sans-serif; 
    font-size: 12px; 
    margin: auto auto; 
    color: gray; 
    padding-top: 2px;
    cursor: pointer;
}
.databases-navbar-title:hover{
    color: #ff7422;
    -webkit-transition: all 0.2s ease-in-out;
}
.databaseSelected{
    color: #ff7422;
    cursor: inherit;
}

// ------------------------------ Box Container Styles ---------------------------------- //
.box{
    width: 50%; 
    height: 100px;
    border-radius: 15px;
    -webkit-box-shadow: 0 10px 20px #c7c7c7;
	-moz-box-shadow: 0 10px 20px #c7c7c7;
    box-shadow: 0 10px 20px #c7c7c7;
    margin: 10px;
}
.box-navbar {
    display: flex; 
    height: 50px; 
    background-color: #ff7422; 
    border-top-right-radius: 15px; 
    border-top-left-radius: 15px
}
.box-navbar div{
    margin: auto auto;
}
.box-navbar-title {
    font-family: 'Roboto', sans-serif; 
    font-size: 15px; 
    margin: auto auto; 
    color: white; 
    font-weight: bold;
    padding: 10px;
}
.box-navbar-button {
    margin: auto auto; 
    height: 40px; 
    width: 40px; 
    padding: 2px; 
    cursor: pointer;
    opacity: 0.5;
}
.box-navbar-button:hover{
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
}

// ------------------------------ Create Box Styles ---------------------------------- //
.create-box{
    display: inline-block; 
    height: auto; 
    border-radius: 25px; 
    width: 100%;
}
.create-box ion-list{
    width: 100%;
}

// ------------------------------ Edit Box Styles ---------------------------------- //
.edit-box{
    display: inline-block;
    height: auto; 
    border-radius: 25px; 
    width: 100%;
}
.edit-box ion-list{
    width: 100%;
}
.edit-box-id {
    height: 13%;
}
.edit-box-id-button {
    margin: auto auto; 
    height: 25px; 
    width: 25px; 
    padding: 2px; 
    cursor: pointer;
    opacity: 0.5;
}
.edit-box-id-button:hover{
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
}

// ------------------------------ TextField Styles ---------------------------------- //
.text-field {
    -webkit-box-shadow: 0 10px 20px #c7c7c7;
	-moz-box-shadow: 0 10px 20px #c7c7c7;
    box-shadow: 0 10px 20px #c7c7c7;
    border-bottom-right-radius: 15px; 
    border-bottom-left-radius: 15px
}
.text-field {
    --ion-background-color:#fff;
}
.text-field ion-item ion-input{
    color: #3f3f3f;
}
.text-field ion-item{
    --ion-background-color:#fff;
}