<ion-header>
  <ion-toolbar>
    <div id="navbar">
      <div>
        <h1 id="navbar-text" routerLink="/listagem" routerDirection="root">LISTAGEM</h1>
      </div>
      <div>
        <a href="https://suub.me/"><img id="logo" src="../assets/logo/logo.png"></a>
      </div>
      <div>
        <h1 id="navbar-text" style="color: #ff7422">CONFIG.</h1>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding body">
    <div class="box">
      <div class="box-navbar">
        <img class="box-navbar-button" src="../assets/icon/clear.png" (click)="resetCreateTextfield()">
        <h1 class="box-navbar-title">Create</h1>
        <img class="box-navbar-button" src="../assets/icon/done.png" (click)="create()">
      </div>
      <div class="databases">
        <div class="databases-navbar">
          <div (click)="restaurantCreate()">
            <h1 class="databases-navbar-title"
              [ngClass]="databaseSelectorCreate==='restaurants'?'databaseSelected':null">Restaurants</h1>
          </div>
          <div (click)="menuCreate()">
            <h1 class="databases-navbar-title" [ngClass]="databaseSelectorCreate==='menus'?'databaseSelected':null">
              Menus</h1>
          </div>
          <div (click)="reviewCreate()">
            <h1 class="databases-navbar-title" [ngClass]="databaseSelectorCreate==='reviews'?'databaseSelected':null">
              Reviews</h1>
          </div>
          <div (click)="orderCreate()">
            <h1 class="databases-navbar-title" [ngClass]="databaseSelectorCreate==='orders'?'databaseSelected':null">
              Orders</h1>
          </div>
        </div>
        <div class="create-box">
          <ion-list class="text-field">
            <ion-item *ngFor="let index of modelCreateIndex">
              <ion-label floating>{{index}}:</ion-label>
              <ion-input [(ngModel)]="modelCreateSchema[index]"
                [type]="(index == 'price' || index == 'rating')?'number':'text'" placeholder="..." clearInput>
              </ion-input>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="box-navbar">
        <img class="box-navbar-button" src="../assets/icon/clear.png" (click)="resetEditTextfield()">
        <h1 class="box-navbar-title">Edit</h1>
        <img class="box-navbar-button" src="../assets/icon/done.png" (click)="edit()">
      </div>
      <div class="databases">
        <div class="databases-navbar">
          <div (click)="restaurantEdit()">
            <h1 class="databases-navbar-title" [ngClass]="databaseSelectorEdit==='restaurants'?'databaseSelected':null">
              Restaurants</h1>
          </div>
          <div (click)="menuEdit()">
            <h1 class="databases-navbar-title" [ngClass]="databaseSelectorEdit==='menus'?'databaseSelected':null">Menus
            </h1>
          </div>
          <div (click)="reviewEdit()">
            <h1 class="databases-navbar-title" [ngClass]="databaseSelectorEdit==='reviews'?'databaseSelected':null">
              Reviews</h1>
          </div>
          <div (click)="orderEdit()">
            <h1 class="databases-navbar-title" [ngClass]="databaseSelectorEdit==='orders'?'databaseSelected':null">
              Orders</h1>
          </div>
        </div>
        <div class="edit-box">
          <ion-item class="edit-box-id">
            <ion-label floating>Object ID:</ion-label>
            <ion-input [(ngModel)]="id" type="text" placeholder="Type the ID of the object you want to edit..."
              (keypress)="searchKeyPress($event.keyCode)" clearInput></ion-input>
            <img class="edit-box-id-button" src="../assets/icon/search.png" (click)="search()">
          </ion-item>

          <ion-list class="text-field">
            <ion-item *ngFor="let index of modelEditIndex">
              <ion-label floating>{{index}}:</ion-label>
              <ion-input [(ngModel)]="modelEditSchema[index]"
                [type]="(index == 'price' || index == 'rating')?'number':'text'" placeholder="..." clearInput>
              </ion-input>
            </ion-item>
          </ion-list>

        </div>
      </div>
    </div>
  </div>
</ion-content>