@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';

@import url('https://fonts.googleapis.com/css?family=Roboto');

// ------------------------------ Body grid controller ---------------------------------- //
.body {
    display:flex;
}

// ------------------------------ Database Selector Styles ---------------------------------- //
.databases {
    width: 100%; 
    height: 80%; 
    background-color: white;
}
.databases-navbar {
    display: flex; 
    height: 25px; 
    background-color: white; 
    box-shadow: 0px -1px 0px lightgrey inset;
}
.databases-navbar div{
    margin: auto auto;
}
.databases-navbar-title {
    font-family: 'Roboto', sans-serif; 
    font-size: 12px; 
    margin: auto auto; 
    color: gray; 
    padding-top: 2px;
    cursor: pointer;
}
.databases-navbar-title:hover{
    color: #ff7422;
    -webkit-transition: all 0.2s ease-in-out;
}
.databaseSelected{
    color: #ff7422;
    cursor: inherit;
}

// ------------------------------ Box Container Styles ---------------------------------- //
.box{
    width: 50%; 
    height: 450px; 
    border-radius: 15px;
    -webkit-box-shadow: 0 10px 20px #c7c7c7;
	-moz-box-shadow: 0 10px 20px #c7c7c7;
    box-shadow: 0 10px 20px #c7c7c7;
    margin: 10px;
}
.box-navbar {
    display: flex; 
    height: 50px; 
    background-color: #ff7422; 
    border-top-right-radius: 25px; 
    border-top-left-radius: 25px
}
.box-navbar div{
    margin: auto auto;
}
.box-navbar-title {
    font-family: 'Roboto', sans-serif; 
    font-size: 15px; 
    margin: auto auto; 
    color: white; 
    font-weight: bold;
    padding: 10px;
}
.box-navbar-button {
    margin: auto auto; 
    height: 40px; 
    width: 40px; 
    padding: 2px; 
    cursor: pointer;
    opacity: 0.5;
}
.box-navbar-button:hover{
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
}

// ------------------------------ Create Box Styles ---------------------------------- //
.create-box{
    display: flex; 
    height: 375px; 
    border-radius: 25px; 
    width: auto;
}
.create-box-userInput{
    display: flex; 
    width: 50%; 
    height: 100%; 
}
.create-box-userInput textarea{
    margin: auto auto; 
    height: 100%; 
    width: 100%; 
    resize: none; 
    -moz-appearance: none; 
    outline: 0px none transparent; 
    border-width: 0px; 
    padding-top: 10px;
    padding-left: 15px; 
    line-height: 25px
}
.create-box-model{
    display: inline-block; 
    width: 50%; 
    height: 100%; 
    background-color: rgb(235, 235, 235); 
    overflow-y: scroll;
}
.create-box-model h1{
    width: 100%; 
    margin: auto auto; 
    font-family: monospace; 
    font-size: 14px; 
    color: rgb(88, 88, 88); 
    white-space: pre-line; 
    line-height: 25px; 
    user-select: all; 
    padding: 15px;
}
.create-box-model h2{
    color: black;
    padding-left: 15px;
    font-size: 18px;
}

// ------------------------------ Edit Box Styles ---------------------------------- //
.edit-box{
    display: inline-block;
    height: 375px; 
    border-radius: 25px; 
    width: 100%;
}

.edit-box-objectID {
    height: 13%;
}

.edit-box-userInput {
    margin: auto auto; 
    height: 87%; 
    width: 100%; 
    resize: none; 
    -moz-appearance: none; 
    outline: 0px none transparent; 
    border-width: 0px; 
    padding-top: 10px;
    padding-left: 15px; 
    line-height: 25px
}

// ------------------------------ Responsive Styles ---------------------------------- //
@media (max-width: 576px) {
    .body{
        display: inline-block;
    }
    .box{
        width: 100%; 
        height: 450px; 
        border-radius: 15px;
        -webkit-box-shadow: 0 10px 20px #c7c7c7;
        -moz-box-shadow: 0 10px 20px #c7c7c7;
        box-shadow: 0 10px 20px #c7c7c7;
        margin: 0px;
        margin-bottom: 20px;
    }
    .create-box-model h1{
        width: 100%; 
        margin: auto auto; 
        font-family: monospace; 
        font-size: 10px; 
        color: rgb(88, 88, 88); 
        white-space: pre-line; 
        line-height: 20px; 
        user-select: all; 
        padding: 15px;
    }
    .create-box-model h2{
        color: black;
        padding-left: 15px;
        font-size: 14px;
    }
    .create-box-userInput textarea{
        margin: auto auto; 
        height: 100%; 
        width: 100%; 
        resize: none; 
        -moz-appearance: none; 
        outline: 0px none transparent; 
        border-width: 0px; 
        padding-top: 10px;
        padding-left: 15px; 
        line-height: 20px;
        font-size: 12px;
    }
    .edit-box-userInput{
        margin: auto auto; 
        height: 87%; 
        width: 100%; 
        resize: none; 
        -moz-appearance: none; 
        outline: 0px none transparent; 
        border-width: 0px; 
        padding-top: 10px;
        padding-left: 15px; 
        line-height: 25px;
        font-size: 12px;
    }
    .edit-box-objectID ion-label{
        font-size: 14px;
    }
    .edit-box-objectID ion-input{
        font-size: 10px;
    }
}