// ------------------------------ Responsive Styles ---------------------------------- //
@media (max-width: 576px) {
    .datatable-rows{
        height: 90px;
        width: 50px;
        white-space: break-word;
        font-size: 2.5vw;
        overflow: hidden;
        display: block;
        color: black;
    }
    .delete-button{
        background-color: #ff3333;
        border-radius: 7px;
        padding: 5px;
        color: white;
        font-size: 2.5vw;
        font-weight: bold;
        margin-bottom: 5px;
        box-shadow: 0 6px 4px -6px #ff3333;
    }
    .edit-button{
        background-color: #33c05b;
        border-radius: 7px;
        padding: 5px;
        color: white;
        font-size: 2.5vw;
        font-weight: bold;
        margin-left: 5px;
        margin-bottom: 5px;
        box-shadow: 0 6px 4px -6px #33c05b;
    }
    .info-button{
        background-color: #3880ff;
        border-radius: 7px;
        padding: 5px;
        color: white;
        font-size: 2.5vw;
        font-weight: bold;
        margin-left: 5px;
        box-shadow: 0 6px 4px -6px #3880ff;
    }
    .save-button{
        background-color: #ff7422;
        border-radius: 7px;
        padding: 5px;
        color: white;
        font-size: 2.5vw;
        font-weight: bold;
        margin-left: 5px;
        margin-bottom: 5px;
        box-shadow: 0 6px 4px -6px #ff7422;
    }
}