@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';

@import url('https://fonts.googleapis.com/css?family=Roboto');

// ------------------------------ Navbar Styles ---------------------------------- //
#logo {
    width: 60px;
    height: auto;
}
#navbar {
    display: flex;
}
#navbar div{
    margin: auto auto;
}
#navbar-text{
    font-family: 'Roboto', sans-serif; 
    font-size: 12px; 
    margin: auto auto; 
    color: #555;
    font-weight: bolder;
    padding: 10px;
    cursor: pointer;
}
#navbar-text:hover{
    color: #ff7422;
    -webkit-transition: all 0.2s ease-in-out;
}

// ------------------------------ Alert Information Styles ---------------------------------- //
.alertInformation {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

// ------------------------------ Page Styles ---------------------------------- //
ion-content {
    scroll-behavior: smooth;
}

// ------------------------------ Datatable Responsive Styles ---------------------------------- //
@media (max-width: 576px) {
    .ngx-datatable.material {
        .datatable-header {
            .datatable-header-cell {
                font-size: 2.4vw;
            }
        }
    }
}