<ion-header>
  <ion-toolbar>
    <div class="navbar">
      <div><h1 class="navbar-text">LISTAGEM</h1></div>
      <div><h1 class="navbar-title">Suub Challenge</h1></div>
      <div><h1 class="navbar-text">EDIÇÃO</h1></div>  
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div style="width: 100%; height: 100%; background-color: rgb(231, 231, 231); border-radius: 15px">
        <div class="table-databases">
            <div><h1 class="table-databases-title">Restaurants</h1></div>
            <div><h1 class="table-databases-title">Menus</h1></div>
            <div><h1 class="table-databases-title">Reviews</h1></div>
            <div><h1 class="table-databases-title">Orders</h1></div>  
        </div>
       
         <ion-list>

          <ion-item>
            <ion-label floating>Enter your name...</ion-label>
            <ion-input [(ngModel)]="name" type="text"></ion-input>
          </ion-item>

        </ion-list>
        <button ion-button primary (click)="checkName()">Enter</button>
        
    </div>
  </div>
</ion-content>
